<%- include partials/header.ejs %>
<div class='jumbotron index-jumbotron'>
  <h1 class='display-1'>Recime</h1>
  <p class='h3'>Don't Just Make It</p>
  <p class='h3'>Make It Yours</p>
  <div class='btn-container d-flex'>
    <a class='btn btn-lg btn-outline-light' href='/auth/google' role='button'><i class="fas fa-user-plus"></i>Sign-up</a>
    <a class='btn btn-lg btn-outline-light' href='/auth/google' role='button'><i class="fas fa-sign-in-alt"></i>Login</a>
  </div>
</div>
<%- include partials/footer.ejs %>
